<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 20pt; /* Размер шрифта в пунктах */
        }
    </style>
</head>
<body>
<p>Проверка: </p>
<p th:text="${userExer.getChecked()}"/>
<form th:method="get" th:action="@{/doex}">
    <button  type="submit">Еще раз</button>
</form>
<p><span th:text="${userExer.getOkCount()+userExer.getErCount()}"/> - всего выполнено заданий</p>
<p><span th:text="${userExer.getOkCount()}"/> - правильно выполнено заданий</p>
</body>
</html>